<avans-tickz-nav></avans-tickz-nav>
<section>
  <div class="container py-5 h-100">
    <div class="row justify-content-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong" style="border-radius: 15px">
          <div class="card-body p-md-4">
            <div class="card-login">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" align="center">Login</h3>
              <form
                #userLogin="ngForm"
                (ngSubmit)="
                  login(userLogin.value.emailAdres, userLogin.value.password)
                "
              >
                <div class="col mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="emailAdres">Email</label>
                    <input
                      type="email"
                      id="emailAdres"
                      name="emailAdres"
                      ngModel
                      class="form-control"
                      #emailAdres="ngModel"
                      pattern="[\w-\.]+@([\w-]+\.)+[\w-]{2,4}"
                      [ngClass]="{
                        'is-invalid': emailAdres.invalid && emailAdres.touched
                      }"
                      required
                    />
                    <div
                      *ngIf="emailAdres.invalid && emailAdres.touched"
                      class="invalid-feedback"
                    >
                      <div *ngIf="emailAdres.errors?.['required']">
                        Please enter an email.
                      </div>
                      <div *ngIf="emailAdres.errors?.['pattern']">
                        Please enter a valid email.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="password">Password</label>
                    <input
                      type="text"
                      id="password"
                      name="password"
                      ngModel
                      #password="ngModel"
                      [ngClass]="{
                        'is-invalid': password.invalid && password.touched
                      }"
                      class="form-control"
                      required
                    />
                    <div
                      *ngIf="password.invalid && password.touched"
                      class="invalid-feedback"
                    >
                      <div *ngIf="password.errors?.['required']">
                        Please enter a password.
                      </div>
                    </div>
                  </div>
                </div>

                <div align="center">
                  <button *ngIf="!userLogin.valid" class="btn disabled">
                    Login
                  </button>
                  <p *ngIf="!validLogin">
                    <strong
                      >! The provided information does not correspond, please
                      check if your email and password are correct.
                    </strong>
                  </p>
                  <button *ngIf="userLogin.valid" type="submit" class="btn">
                    Login
                  </button>
                  <p class="pt-3">
                    No account yet? Register
                    <a routerLink="/register">here!</a>
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
