<nav class="navbar navbar-expand justify-content-center">
  <a class="navbar-brand nav-item" routerLink="">AvansTickz</a>
    <ul class="navbar-nav">
      <li><a class="nav-item nav-link" routerLink="">Home</a></li>
      <li><a class="nav-item nav-link" routerLink="/users">Users</a></li>
      <li><a class="nav-item nav-link" routerLink="/concerts">Concerts</a></li>
      <li><a class="nav-item nav-link" routerLink="/about">About</a></li>
      <li><a class="nav-item nav-link" routerLink="/login">Login</a></li>
    </ul>
</nav>
