<div class="container">
  <div class="row mt-2">
    <h1 class="col-md-10">All artists</h1>
    <button class="btn col-md-2 pull-right" routerLink="/artists/create">
      Add artist <i class="fa fa-plus"></i>
    </button>
  </div>
  <div class="row mt-3">
    <div class="card col-4" routerLink="{{artist._id}}" *ngFor="let artist of artists">
        <img src="{{artist.artistHeader}}" class="card-img-top header-img" />
        <div class="card-body">
          <h5 class="card-title">{{artist.name}}</h5>
          <p class="card-text">
            {{artist.description.substring(0, 350)}}...
          </p>
          <a class="btn"  *ngIf="artist.creatorId != currentuserId" (click)="addToFavorites(artist._id)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-heart"
              viewBox="0 0 16 16"
            >
              <path
                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
              />
            </svg>
            Add to favorites
          </a>
          <a class="btn" *ngIf="artist.creatorId == currentuserId" routerLink="{{artist._id}}/edit">Edit artist</a>
        </div>
      </div>
    </div>
  </div>
