<div class="container">
  <div class="row mt-2">
    <h1 class="col-md-10">All artists</h1>
    <button
      *ngIf="userAuthenticated"
      class="btn col-md-2 pull-right"
      routerLink="/artists/create"
    >
      Add artist <i class="fa fa-plus"></i>
    </button>
  </div>
  <div class="row mt-3">
    <div class="card col-4" *ngFor="let artist of artists">
      <img
        routerLink="{{ artist._id }}"
        src="{{ artist.artistHeader }}"
        class="card-img-top header-img"
      />
      <div
        routerLink="{{ artist._id }}"
        class="card-body"
        *ngIf="userAuthenticated"
      >
        <h5 class="card-title">{{ artist.name }}</h5>
        <p class="card-text">{{ artist.description.substring(0, 375) }}...</p>
        <div class="row">
          <div class="col">
            <a
              class="btn pull-right"
              *ngIf="artist.creatorId == currentUser._id"
              routerLink="{{ artist._id }}/edit"
              >Edit artist</a
            >
            <a
              class="btn pull-right"
              *ngIf="artist.creatorId != currentUser._id"
              routerLink="{{ artist._id }}"
              >Read more</a
            >
          </div>
        </div>
      </div>
      <div
        routerLink="{{ artist._id }}"
        class="card-body"
        *ngIf="!userAuthenticated"
      >
        <h5 class="card-title">{{ artist.name }}</h5>
        <p class="card-text">{{ artist.description.substring(0, 350) }}...</p>
        <a class="pull-right mb-0 mt-0 card-link" routerLink="{{ artist._id }}"
          >Read more ></a
        >
      </div>
    </div>
  </div>
</div>
