<avans-tickz-nav></avans-tickz-nav>
<div class="container">
  <h3 align="center">All users</h3>

  <p *ngIf="usersLength === 0">
    Er zijn nog geen gebruikers.
  </p>

  <table class="table">
    <thead>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let user of users"  routerLink="{{ user._id }}">
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.emailAdres }}</td>
        <td>
          <button type="submit" class="btn" (click)="follow(user)">
            Follow user
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
