<div>
  <h3>All users</h3>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>First</th>
        <th>Last</th>
        <th>Email</th>
        <th>Manage </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" >
        <th>
          <a routerLink="{{ user.userId }}">{{ user.userId }}</a>
        </th>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.emailAdres }}</td>
        <td>  <button type="submit" class="btn btn-primary" routerLink="{{user.userId}}/edit"> 
          Edit user
        </button></td>
      </tr>
    </tbody>
  </table>

</div>
