<!-- Jumbotron -->
<div class="p-5 d-flex justify-content-center bg-image concert-banner">
  <div class="mask">
    <div
      class="d-flex justify-content-center text-center align-items-center concert-banner-mask"
    >
      <div class="text-white">
        <h1 class="mb-3">{{ currentConcert?.title }}</h1>
        <h3>Artist name</h3>
      </div>
    </div>
  </div>
</div>
<!-- Jumbotron -->
<div class="container" *ngIf="currentConcert">
  <div class="row mt-3">
    <div class="col-6">
      <h2><a routerLink="/">Artist name</a></h2>
      <p>
        {{ currentConcert.venueName }} is welcoming
        <a routerLink="/">artist name</a> with open arms!
      </p>
      <div class="d-flex">
        <p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-calendar"
            viewBox="0 0 16 16"
          >
            <path
              d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
            />
          </svg>
          {{ currentConcert.date | date: 'fullDate' }}
        </p>
      </div>

      <div>
        <h2>Venue information</h2>
        <p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-buildings-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V.5ZM2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-1 2v1H2v-1h1Zm1 0h1v1H4v-1Zm9-10v1h-1V3h1ZM8 5h1v1H8V5Zm1 2v1H8V7h1ZM8 9h1v1H8V9Zm2 0h1v1h-1V9Zm-1 2v1H8v-1h1Zm1 0h1v1h-1v-1Zm3-2v1h-1V9h1Zm-1 2h1v1h-1v-1Zm-2-4h1v1h-1V7Zm3 0v1h-1V7h1Zm-2-2v1h-1V5h1Zm1 0h1v1h-1V5Z"
            />
          </svg>
          {{ currentConcert.venueName }}
        </p>
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
          </svg>
          {{ currentConcert.adres }} -
          {{ currentConcert.city }}
        </p>
      </div>
    </div>
    <div class="col-6">
      <button class="btn pull-right">Buy tickets</button>
      <p *ngIf="currentConcert.amountOfTickets > 0" class="pull-right">
        Hurry up! There are only
        <i>{{ currentConcert.amountOfTickets }}</i> tickets left! Buy tickets by
        clicking the button above.
      </p>

      <p
        *ngIf="currentConcert.amountOfTickets <= 0"
        class="soldOut-text pull-right"
      >
        Sadly this concert is sold out. Check
        <a routerLink="/concerts">here</a> to see all the other concerts you can
        visit!
      </p>

      <div class="pull-right">
        <h2>Line-up</h2>
        <div class="card-custom-avatar">
          <img
            class="img-fluid"
            src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg"
            alt="Avatar"
          />
        </div>
        <p align="center">artist name</p>
      </div>
    </div>
  </div>
</div>
