<h2>Welkom op de website van AvansTickz!</h2>
<h2>Artists you might like:</h2>
<div class="row">
  <div class="card-custom-avatar col-3">
    <img
      class="img-fluid"
      src="http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg"
      alt="Avatar"
    />
  </div>
  <div class="card-custom-avatar col-3">
    <img
      class="img-fluid"
      src="http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg"
      alt="Avatar"
    />
  </div>
  <div class="card-custom-avatar col-3">
    <img
      class="img-fluid"
      src="http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg"
      alt="Avatar"
    />
  </div>
  <div class="card-custom-avatar col-3">
    <img
      class="img-fluid"
      src="http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg"
      alt="Avatar"
    />
  </div>
</div>
