<avans-tickz-nav></avans-tickz-nav>
<div class="container mt-2" align="center">
  <h2 >Welkom op de website van AvansTickz!</h2>
  <img class="mt-5" src="https://i.pinimg.com/474x/a6/5d/e2/a65de29e94da3291262cd162a5925bfe.jpg" alt="ticket icon">
  <!-- <h2>Artists you might like:</h2>

  <div class="row">
    <div class="card-custom-avatar col-3">
      <img
        class="img-fluid"
        src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg"
        alt="Avatar"
      />
    </div>
    <div class="card-custom-avatar col-3">
      <img
        class="img-fluid"
        src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg"
        alt="Avatar"
      />
    </div>
    <div class="card-custom-avatar col-3">
      <img
        class="img-fluid"
        src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg"
        alt="Avatar"
      />
    </div>
    <div class="card-custom-avatar col-3">
      <img
        class="img-fluid"
        src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg"
        alt="Avatar"
      />
    </div>
  </div> -->
</div>
