<div class="container mt-2" align="center">
  <h2>Welkom op de website van AvansTickz!</h2>
  <img
    class="mt-2"
    src="https://i.pinimg.com/474x/a6/5d/e2/a65de29e94da3291262cd162a5925bfe.jpg"
    alt="ticket icon"
  />
  <div class="mt-5" *ngIf="loggedInUser != undefined">
    <h2>Artists you might like:</h2>

    <div class="row mt-5" *ngIf="reccommendations.length != 0">
      <div class="col-4" *ngFor="let artist of reccommendations">
        <div class="card-custom-avatar col-3" routerLink="/artists/{{artist._id}}">
          <img class="img-fluid" src="{{ artist.artistImage }}" alt="Avatar" />
        </div>
        <a routerLink="/artists/{{artist._id}}">{{ artist.name }}</a>
      </div>
    </div>

    <div *ngIf="reccommendations.length == 0" class="row">
      <p> Follow <a routerLink="/users">other users</a> to get more personalised reccommendations! </p>
      <div class="col-lg-4 col-md-4 col-sm-12 mt-5" *ngFor="let artist of randomArtists">
        <div class="card-custom-avatar col-3" routerLink="/artists/{{artist._id}}">
          <img class="img-fluid" src="{{ artist.artistImage }}" alt="Avatar" />
        </div>
        <a routerLink="/artists/{{artist._id}}">{{ artist.name }}</a>
      </div>
    </div>
  </div>
</div>
