
<section>
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div
          class="card shadow-2-strong card-registration"
          style="border-radius: 15px"
        >
          <div class="card-body p-4 p-md-5">
            <h3 class="pb-2 pb-md-0 mb-md-3">Create concert</h3>
            <form
              #createConcertForm="ngForm"
              (ngSubmit)="createConcert(createConcertForm.value)"
            >
              <div class="row">
                <div class="col mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="title">*Title</label>
                    <input
                      type="text"
                      id="title"
                      name="title"
                      class="form-control"
                      ngModel
                      #title="ngModel"
                      [ngClass]="{
                        'is-invalid': title.invalid && title.touched
                      }"
                      required
                    />

                    <div
                      *ngIf="title.invalid && title.touched"
                      class="invalid-feedback"
                    >
                      <div *ngIf="title.errors?.['required']">
                        Concert name is required
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="date">*Date</label>
                    <input
                      type="date"
                      id="date"
                      name="date"
                      class="form-control"
                      ngModel
                      #date="ngModel"
                      [ngClass]="{
                        'is-invalid': date.invalid && date.touched
                      }"
                      required
                    />
                    <div
                      *ngIf="date.invalid && date.touched"
                      class="invalid-feedback"
                    >
                      <div *ngIf="date.errors?.['required']">
                        Date is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="time">*Time</label>
                    <input
                      type="time"
                      id="time"
                      name="time"
                      class="form-control"
                      ngModel
                      #time="ngModel"
                      [ngClass]="{
                        'is-invalid': time.invalid && time.touched
                      }"
                      required
                    />
                    <div
                      *ngIf="time.invalid && time.touched"
                      class="invalid-feedback"
                    >
                      <div *ngIf="time.errors?.['required']">
                        Time is required
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row pb-3">
                <div class="col-md-6">
                  <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn customDropdown" id="artistDropdown" ngbDropdownToggle>
                      Choose an artist
                    </button>
                    <div ngbDropdownMenu aria-labelledby="artistDropdown">
                      <button ngbDropdownItem type="button" *ngFor="let artist of artists" (click)="setArtist(artist._id)"> {{artist.name}}</button>
                    </div>
                  </div>
                </div>
                <div *ngIf="artistSelected" class="col-md-6">
                  <p> <strong> Chosen artist: {{artist.name}}</strong></p>
                  <ul>
                    <li>Genre: {{artist.genre}}</li>
                  </ul>
                </div>
                <div *ngIf="!artistSelected" class="col-md-6">
                  <p> <strong>*Please select an artist </strong> </p>
                </div>
              </div>


              <div class="row pb-3">
                <div class="col-md-6">
                  <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn customDropdown" id="venueDropdown" ngbDropdownToggle>
                      Choose a venue
                    </button>
                    <div ngbDropdownMenu aria-labelledby="venueDropdown">
                      <button ngbDropdownItem type="button" *ngFor="let venue of venues" (click)="setVenue(venue._id)"> {{venue.venueName}}</button>
                    </div>
                  </div>
                </div>
                <div *ngIf="venueSelected" class="col-md-6">
                  <p> <strong> Chosen venue: {{venue.venueName}}</strong></p>
                  <ul>
                    <li>Adres: {{venue.adres}} - {{venue.city}}</li>
                    <li>Capacity: {{venue.capacity}}</li>
                  </ul>
                </div>
                <div *ngIf="!venueSelected" class="col-md-6">
                  <p> <strong>*Please select a venue </strong> </p>
                </div>
              </div>

              <h4 class="pb-1">Ticket information</h4>
              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline w-100">
                    <label for="amountOfTickets" class="form-label"
                      >*Amount of Tickets</label
                    >
                    <input
                      type="number"
                      id="amountOfTickets"
                      name="amountOfTickets"
                      class="form-control"
                      ngModel
                      #amountOfTickets="ngModel"
                      [ngClass]="{
                        'is-invalid':
                          amountOfTickets.invalid && amountOfTickets.touched
                      }"
                      required
                      min="1"
                    />
                    <div
                      *ngIf="amountOfTickets.invalid && amountOfTickets.touched"
                      class="invalid-feedback"
                    >
                      <div *ngIf="amountOfTickets.errors?.['required']">
                        Please give a amount of tickets.
                      </div>
                      <div *ngIf="amountOfTickets.errors?.['min']">
                        Amount of tickets must be at least 1
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline w-100">
                    <label for="ticketPrice" class="form-label"
                      >*Price per ticket</label
                    >
                    <input
                      type="number"
                      id="ticketPrice"
                      name="ticketPrice"
                      class="form-control"
                      ngModel
                      #ticketPrice="ngModel"
                      [ngClass]="{
                        'is-invalid': ticketPrice.invalid && ticketPrice.touched
                      }"
                      required
                      min="1"
                    />
                    <div
                      *ngIf="ticketPrice.invalid && ticketPrice.touched"
                      class="invalid-feedback"
                    >
                      <div *ngIf="ticketPrice.errors?.['required']">
                        Please give a amount of tickets.
                      </div>
                      <div *ngIf="ticketPrice.errors?.['min']">
                        Amount of tickets must be at least 1
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-outline w-100">
                  <label for="ticketType" class="form-label"
                    >*Ticket type (Mobile-only / Printed)</label
                  >
                  <input
                    type="text"
                    id="ticketType"
                    name="ticketType"
                    class="form-control"
                    ngModel
                    #ticketType="ngModel"
                    [ngClass]="{
                      'is-invalid': ticketType.invalid && ticketType.touched
                    }"
                    required
                    min="1"
                  />
                  <div
                    *ngIf="ticketType.invalid && ticketType.touched"
                    class="invalid-feedback"
                  >
                    <div *ngIf="ticketType.errors?.['required']">
                      Please give a type.
                    </div>
                  </div>
                </div>
              </div>
              <button *ngIf="!createConcertForm.valid" class="btn mt-3 disabled">Create concert</button>
              <button *ngIf="createConcertForm.valid" type="submit" class="btn mt-3">Create concert</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
