<section>
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div
          class="card shadow-2-strong card-registration"
          style="border-radius: 15px"
        >
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Create concert</h3>
            <form
              #createConcertForm="ngForm"
              (ngSubmit)="createConcert(createConcertForm.value)"
            >
              <div class="row">
                <div class="col-6 mb-4">
                    <div class="form-outline">
                      <input
                        type="number"
                        id="concertId"
                        name="concertId"
                        class="form-control"
                        ngModel
                      />
                      <label class="form-label" for="concertId">Id</label>
                    </div>
                  </div>
                <div class="col-6 mb-4">
                  <div class="form-outline">
                    <input
                      type="text"
                      id="title"
                      name="title"
                      class="form-control"
                      ngModel
                    />
                    <label class="form-label" for="title">Title</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input
                      type="text"
                      id="venueName"
                      name="venueName"
                      class="form-control"
                      ngModel
                    />
                    <label class="form-label" for="venueName">Venue name</label>
                  </div>
                </div>

                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline w-100">
                    <input
                      type="text"
                      id="venueImage"
                      name="venueImage"
                      class="form-control"
                      ngModel
                    />
                    <label for="venueImage" class="form-label"
                      >Venue image URL</label
                    >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input
                      type="date"
                      id="date"
                      name="date"
                      class="form-control"
                      ngModel
                    />
                    <label class="form-label" for="date">Date</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input
                      type="time"
                      id="time"
                      name="time"
                      class="form-control"
                      ngModel
                    />
                    <label class="form-label" for="time">Time</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline w-100">
                    <input
                      type="text"
                      id="adres"
                      name="adres"
                      class="form-control"
                      ngModel
                    />
                    <label for="adres" class="form-label">Adres</label>
                  </div>
                </div>

                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline w-100">
                    <input
                      type="text"
                      id="city"
                      name="city"
                      class="form-control"
                      ngModel
                    />
                    <label for="city" class="form-label">City</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline w-100">
                    <input
                      type="number"
                      id="amountOfTickets"
                      name="amountOfTickets"
                      class="form-control"
                      ngModel
                    />
                    <label for="amountOfTickets" class="form-label"
                      >Amount of Tickets</label
                    >
                  </div>
                </div>
              </div>

              <button type="submit" class="btn">Create concert</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
