<div class="container">
  <div class="profile">
    <div class="profile-header">
      <div class="profile-header-content">
        <ul class="profile-header-tab nav nav-tabs nav-tabs-v2">
          <li class="nav-item">
            <a
              [ngClass]="
                tabSelected == 'favoriteArtists'
                  ? 'nav-link-active'
                  : 'nav-link'
              "
              (click)="tabChange('favoriteArtists')"
            >
              <div class="nav-field">Favorite Artists</div>
            </a>
          </li>
          <li class="nav-item">
            <a
              [ngClass]="
                tabSelected == 'following' ? 'nav-link-active' : 'nav-link'
              "
              (click)="tabChange('following')"
            >
              <div class="nav-field">Following</div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="profile-container row">
      <div class="profile-sidebar col-sm-12 col-md-4 col-lg-4">
        <div
          class="desktop-sticky-top"
          *ngIf="currentUser != null && currentUser != undefined"
        >
          <h4>{{ currentUser.firstName }} {{ currentUser.lastName }}</h4>
          <div class="font-weight-600 mb-3 text-muted mt-n2">
            {{ currentUser.emailAdres }}
          </div>
          <p>{{ currentUser.birthDate | date : 'dd-MM-yyyy' }}</p>
          <div *ngIf="loggedInUser != null && loggedInUser != undefined">
            <button
              class="btn"
              (click)="follow(currentUser)"
              *ngIf="!isFollowing"
            >
              <i class="fa fa-user-plus"></i> Follow user
            </button>
            <button
              class="btn"
              (click)="unfollow(currentUser)"
              *ngIf="isFollowing"
            >
              <i class="fa fa-user-plus"></i> Unfollow user
            </button>
          </div>
          <hr class="mt-4 mb-4" />
        </div>
      </div>

      <div
        class="profile-content col-sm-12 col-md-8 col-lg-8"
        *ngIf="tabSelected === 'favoriteArtists'"
      >
        <div class="row">
          <div class="col-xl-12">
            <div class="tab-content p-0">
              <div class="tab-pane fade active show" id="favoriteArtists">
                <div class="list-group" *ngFor="let artist of favoriteArtists">
                  <div
                    class="list-group-item d-flex align-items-center"
                    [routerLink]="['../../artists/', artist._id]"
                  >
                    <img
                      src="{{ artist.artistImage }}"
                      alt=""
                      width="50px"
                      class="rounded-sm ml-n2 me-3"
                    />
                    <div class="flex-fill pl-3 pr-3">
                      <div>
                        <a class="text-dark font-weight-600">{{
                          artist.name
                        }}</a>
                      </div>
                      <div class="text-muted fs-13px">{{ artist.genre }}</div>
                    </div>
                    <a
                      [routerLink]="['../../artists/', artist._id]"
                      class="btn btn-outline-primary"
                      >View artist</a
                    >
                  </div>
                </div>
                <div class="text-center p-3">
                  <a
                    [routerLink]="['../../artists']"
                    class="text-dark text-decoration-underline"
                    >Show all artists
                    <i class="fa fa-arrow-right text-decoration-underline"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="profile-content col-sm-12 col-md-8 col-lg-8"
        *ngIf="tabSelected === 'following'"
      >
        <div class="row" *ngIf="followingList.length != 0">
          <div class="col-xl-12">
            <div class="tab-content p-0">
              <div class="tab-pane fade active show" id="following">
                <div
                  class="list-group"
                  *ngFor="let followUser of followingList"
                >
                  <div
                    class="list-group-item d-flex align-items-center"
                    *ngIf="followUser != undefined"
                  >
                    <i class="fa fa-user me-3"></i>
                    <div class="flex-fill pl-3 pr-3">
                      <div>
                        <a class="text-dark font-weight-600"
                          >{{ followUser.firstName }}
                          {{ followUser.lastName }}</a
                        >
                      </div>
                      <!-- <div class="text-muted fs-13px">{{artist.genre}}</div> -->
                    </div>
                    <a
                      [routerLink]="['../', followUser._id]"
                      class="btn btn-outline-primary"
                      >View profile</a
                    >
                  </div>
                </div>
                <div class="text-center p-3">
                  <a
                    [routerLink]="['../']"
                    class="text-dark text-decoration-underline"
                    >Show all users
                    <i class="fa fa-arrow-right text-decoration-underline"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="followingList.length == 0">
          <p>This user does not follow anyone!</p>
          <div>
            <a
              [routerLink]="['../']"
              class="text-dark text-decoration-underline"
              >Show all users
              <i class="fa fa-arrow-right text-decoration-underline"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
