.deleteButton {
  background-color: red !important;
  border-color: transparent;
}

.card-registration {
  background-color: rgba(245, 87, 108, 1);
  color: white;
}

.btn {
  color: white;
  font-weight: 500;
}
